.button {
  background-color: #f2a54e;
  border: none;
  color: #000;
  padding: 15px 25px;
  font-size: 25px;
  cursor: pointer;
}

button::after {
  content: "\00D7";
  color: #000;
  font-size: 25px;
  background-color: #fff;
  border-radius: 70%;
  padding: 2px 9px;
}
