@font-face {
  font-family: pokésolid;
  src: url(fonts/PokemonSolid.ttf);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: url(img/pokemon.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: top right;
}

.container {
  background: rgba(255, 255, 255, 0.972);
  width: 25%;
  padding-left: 15px;
  margin-left: 5%;
}

nav ul {
  list-style-type: none;
  font-size: 12px;
  font-weight: bold;
  margin-left: -40px;
}

nav a {
  color: #000;
}

a::after {
  content: "\25BC";
  font-style: unset;
}

nav ul li > ul {
  display: none;
}

nav ul li:hover > ul {
  display: block;
}

h1 {
  font-size: 35px;
  font-family: pokésolid;
  color: #ffde00;
  padding-top: 10px;
}

#orderedList {
  display: none;
}

.autocomplete {
  position: relative;
}

p {
  font-size: 12px;
}

.headers {
  font-weight: bold;
}

#pokemonInput {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 10%;
}

button {
  padding: 8px;
  background: #cc0000;
  border: none;
  font-size: 10px;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background: #ff0000;
}

#catch-button {
  padding: 8px;
  background: #3b4cca;
  border: none;
  font-size: 10px;
  color: #fff;
  cursor: pointer;
}

#catch-button:hover {
  background: #5f70ee;
}

.result {
  background: #000;
}

.pokeItems {
  font-size: 14px;
  cursor: pointer;
}

.pokeItems li {
  list-style: none;
  padding-left: 1px;
}

.pokeItems li:hover {
  background: #ffde00;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 4vw;
  }
}
